{
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "overrides": [
        {
            "files": ["*.html, *.js"],
            "options": {
                "semi": true
            }
        }
    ]
}